<p class="pageHeader">Edit Journalist</p>

<form action="/admin/journalists/$journalist.getId()" method="post">

    <label for="name">Name:</label>
    <input class="inputbox" type="text" name="name" required="true" value="$journalist.getName()">

    <input type="submit" value="Save" class="button">
</form>

<a href="/admin/journalists" class="button center">Cancel</a>