<p class="pageHeader">Edit Journalist</p>

<form action="/admin/journalists/$journalist.getId()" method="post">

    <label>Name:</label>
    <input class="inputbox" type="text" name="name" required="true" value="$journalist.getName()">

    <input type="submit" value="Save" class="button">
</form>

<form action = "/admin/journalists" method = "get"><input type="submit" value="Cancel" class="button"></form>