<p class="pageHeader">SGNN News Website Administration </p>
<p>Welcome $user. <a href="/logout">Logout</a></p>

<div class="admin">
    <a href="/admin/articles" class="button center">View all Articles</a>
    <a href="/admin/journalists" class="button center">View all Journalists</a>
</div>