body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}

#top-bar {
  width: 100%;
  background-color: #33698e;
  height: 100px;
  color: white;
}

#logo-div {
float: left;
padding-right: 100px;
}

#logo {
  padding-top: 15px;
  height: 70px;
  padding-left: 70px;
  padding-right: 10px;
}

#top-menu ul {
  margin: 0;
  padding: 0;
}

#top-menu li {
  list-style: none;
  border-right: 1px solid #22465e;
  padding: 68px 20px 10px 15px;
  float: left;
}

.menu-list {
  text-decoration: none;
  color: white;
}

#first-list-item {
  border-left: 1px solid #22465e;
}

#search-bar-position {
  float: right;
  padding: 50px 30px 0px 50px;
  width: 250px;

}

#search-bar {
  height: 30px;
  padding-left: 10px;
  width: 120px;
  font-family: 'Tajawal', sans-serif;
  font-size: 14px;
}

button#search-bar-button{
  width: 60px;
  height:36px;
  padding: 1px;
  font-family: 'Tajawal', sans-serif;
}
