body {
  margin: 0;
  font-family: verdana, sans-serif;
}

#top-bar {
  width: 100%;
  background-color: navy;
  height: 45px;
  color: white;
}


#menu {
    background-color: darkblue;
    color: #ffffff;
    padding: 15px;
    height: 50px;
}

#logo-div {
float: left;
}


#top-menu ul {
  margin: 0;
  padding: 0;
}

#top-menu li {
  list-style: none;
  font-weight: bold;
  border-right: 1px solid cornflowerblue;
  height: 100%;
  padding: 10px 20px 12px 20px;
  float: left;
}

.menu-list {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: cornflowerblue;
}

#search-bar-position {
  float: right;
  padding: 5px 0 0 50px;
  width: 250px;
}

#search-bar {
  height: 25px;
  border: none;
  padding: 3px;
  padding-left: 10px;
}
