.article-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
  height: 600px;
  padding-left: 100px;
  padding-right: 100px;
  borde
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;

}

.button-container .button {
  background-color: #33698e;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-color: #22465e;
}

.article-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
}

.button {
  height: 60px;
  width: 120px;
  margin: 10px;
}

.all-articles {
  border-left: 1px solid #22465e;
  padding-left: 10px;
}

.selected-button {
  background-color: #22465e;
  color: white;
  border-color: #33698e;
  height: 60px;
  width: 120px;
  margin: 10px;
}
