<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGNN News</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<a href="/admin">Home</a>
<a href="/admin/articles">All Articles</a>
<a href="/admin/journalists">All Journalists</a>
<div class="container">
    #parse( $template )
</div>
</body>
</html>
