<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGNN News</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <link href="/news-layout.css" rel="stylesheet" type="text/css"/>
    <link href="/front-page.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<div id="container">
    <div id="top-bar">

            <div id="logo-div">
                <img src="" alt="">
            </div>

            <div id="top-menu">
                <ul>
                    <li><a class="menu-list" href="/news">Home</a></li>
                    <li><a class="menu-list" href="/articles/newest">All Articles</a></li>
                    <li><a class="menu-list" href="/articles/most">Most Popular</a></li>
                    <li><a class="menu-list" href="/articles/fewest">Categories</a></li>
                    <div id="search-bar-position">
                        <form action="/news/search-results" method="get" autocomplete="off">
                            <input id="search-bar" type="text" placeholder="Search..." name="search_bar">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </ul>
            </div>
    </div>
</div>

<div id="menu">

</div>


<div class="parsed-data">
    #parse( $template )
</div>
</body>
</html>

