<div class="full-story">
    <p><a href="/journalists/$journalist.getId()">$article.getJournalist().getName()</a></p>
    <p>$article.getHeadline()</p>
    <p>$article.getCategory()</p>
    <p>$article.prettyDate()</p>
    <p>$article.getSummary()</p>
    <p>$article.getStory()</p>
    <p>$article.getPageViews()</p>
</div>
